In [ ]:
#Data Science Tools and Ecosystem

In [ ]:
In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:

 List popular languages for Data Science:
 
 * Scala
 * Java
 * C++
 * Julia
 * PHP

In [ ]:
Some of the popular languages that Data Scientists use are:
    
    -PHYTHON.
    -R
    -SQL

In [50]:
import pandas as pd
tabla=pd.DataFrame(data=[['Apache Airflow'],['Apache Nifi'],['Node Red']],
                   columns=['Data ScienceTools'])
                   
tabla

                   
tabla

  Data ScienceTools
0    Apache Airflow
1       Apache Nifi
2          Node Red

In [ ]:
###Below are a few examples of evaluating arithmetic expressions in Python

In [ ]:
This a simple arithmetic expression to mutiply then add integers

In [51]:
(3*4)+5

17

In [ ]:
This will convert 200 minutes to hours by diving by 60

In [52]:
(200/60)

3.3333333333333335

## Author

Luis Fernando Morales Arboleda